<p-toolbar>
    <div class="p-toolbar-group-left">
        <button pButton pRipple type="button" label="Registrar Empleado"
                class="p-button-rounded p-button-success" icon="pi pi-plus" (click)="modalRegistroEmpleado()"></button>
    </div>
    <h4 style="text-align: center">Empleados Vacunados</h4>
    <div class="p-toolbar-group-right">
    </div>
</p-toolbar>

<div class="card">
    <p-table #dt [value]="empleadosVacunados" [rows]="10" [paginator]="true"
             [globalFilterFields]="['empleado.nombre','empleadoPuesto.puesto.nombrePuesto','vacunaCovid19.nombreVacuna','vacunasEstado.estado']" responsiveLayout="scroll"
             [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
             [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Búsqueda..."/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Empleado</th>
                <th>Puesto laboral</th>
                <th>Nombre de Vacuna</th>
                <th>Fecha primera dosis</th>
                <th>Fecha segunda dosis</th>
                <th>Fecha calculada</th>
                <th>Estado</th>
                <th>Acciones</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.empleado.nombre}}</td>
                <td>{{product.empleadoPuesto.puesto.nombrePuesto}}</td>
                <td *ngIf="product.idVacuna">{{product.vacunaCovid19.nombreVacuna}}</td>
                <td *ngIf="product.idVacuna == null"></td>
                <td>{{product.fechaInicioPuesta | date: 'dd-MM-yyyy'}}</td>
                <td>{{product.fechaFinPuesta | date: 'dd-MM-yyyy'}}</td>
                <td>{{product.fechaCalculada | date: 'dd-MM-yyyy'}}</td>
                <td *ngIf="product.vacunasEstado.idEstado == 0">
                    <span class="p-column-title">Estado</span>
                    <span [class]="'sac-badge status-' + product.vacunasEstado.idEstado">EN RIESGO</span>
                </td>
                <td *ngIf="product.vacunasEstado.idEstado == 1">
                    <span class="p-column-title">Estado</span>
                    <span [class]="'sac-badge status-' + product.vacunasEstado.idEstado">EN PROGRESO</span>
                </td>
                <td *ngIf="product.vacunasEstado.idEstado == 2">
                    <span class="p-column-title">Estado</span>
                    <span [class]="'sac-badge status-' + product.vacunasEstado.idEstado">PROTEGIDO</span>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="abrirModalModificar(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{empleadosVacunados ? empleadosVacunados.length : 0 }} empleados registrados.
            </div>
        </ng-template>
    </p-table>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-dialog header="Registrar Empleado" [(visible)]="display" [modal]="true" [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
    <br>
    <p-toast key="EmpleadoYaExiste"></p-toast>
    <p-toast key="empleadoNoAgregado"></p-toast>
    <div class="p-fluid grid">
        <div class="col-12 md:col-6">
            <p-autoComplete [(ngModel)]="empleadoSeleccionado" [suggestions]="empleadosFiltrados"
                            emptyMessage="No se encontraron resultados" [showEmptyMessage]="true"
                            (completeMethod)="filterCountry($event)" field="empleado.nombre" [dropdown]="true"
                            appendTo="body" id="auto" placeholder="Empleado">
                <ng-template let-empleado pTemplate="item">
                    <div class="country-item">
                        <div>{{empleado.empleado.nombre}} {{empleado.empleado.apellido}}
                            - {{empleado.puesto.nombrePuesto}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
        <div class="field col-12 md:col-6">
        <span class="p-float-label">
            <p-dropdown id="dropdown" [autoDisplayFirst]="false" [options]="vacunas"
                        [(ngModel)]="nuevoEmpleadoVacunado.idVacuna" optionLabel="nombreVacuna" (onChange)="vacunaCambio()"
                        optionValue="idVacuna" appendTo="body"></p-dropdown>
            <label for="dropdown">Vacunas</label>
        </span>
        </div>
        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <p-dropdown id="dropdown2" [autoDisplayFirst]="false" [options]="dosis"
                            [(ngModel)]="dosisSeleccionada" optionLabel="dosis" [disabled]="janssen == true"
                            (onChange)="cambioDosis(dosisSeleccionada)"
                            optionValue="idDosis" appendTo="body"></p-dropdown>
                <label for="dropdown2">Dosis</label>
            </span>
        </div>
        <div class="field col-12 md:col-6" *ngIf="dosisSeleccionada">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="estadoEmpleado.estado" disabled>
            <label for="inputtext">Estado</label>
        </span>
        </div>
        <div class="field col-12 md:col-6" *ngIf="dosisSeleccionada > 0">
        <span class="p-float-label">
            <p-calendar id="calendar" showIcon="true" [(ngModel)]="nuevoEmpleadoVacunado.fechaInicioPuesta"
                        appendTo="body" dateFormat="dd-mm-yy"></p-calendar>
            <label for="calendar">Fecha primera dosis</label>
        </span>
        </div>
        <div class="field col-12 md:col-6" *ngIf="dosisSeleccionada > 1">
            <span class="p-float-label">
                <p-calendar id="calendar2" [(ngModel)]="nuevoEmpleadoVacunado.fechaFinPuesta" appendTo="body"
                            showIcon="true"
                            dateFormat="dd-mm-yy"></p-calendar>
                <label for="calendar2">Fecha segunda dosis</label>
            </span>
        </div>
    </div>
    <div style="margin-left: 35%">
        <button pButton pRipple type="button" label="Registrar" class="mr-2" icon="pi pi-check"
                [disabled]="camposRequeridos()" (click)="guardar()"></button>
        <button pButton pRipple type="button" label="Cancelar" class="p-button-secondary" icon="pi pi-times"
                (click)="cancelarGuardar()"></button>
    </div>
</p-dialog>

<p-dialog header="Modifiación de Empleado" [(visible)]="displayModificar" [modal]="true"
          [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
    <br>
    <div class="p-fluid grid">
        <div class="field col-12 md:col-4" *ngIf="empleadoModificar.empleado">
            <span class="p-float-label">
                <input type="text" id="id1" pInputText [(ngModel)]="empleadoModificar.empleado.nombre" disabled>
                <label for="id1">Nombre</label>
            </span>
        </div>
        <div class="field col-12 md:col-4" *ngIf="empleadoModificar.empleado">
            <span class="p-float-label">
                <input type="text" id="id2" pInputText [(ngModel)]="empleadoModificar.empleado.apellido" disabled>
                <label for="id2">Apellido</label>
            </span>
        </div>
        <div class="field col-12 md:col-4" *ngIf="empleadoModificar.empleadoPuesto">
            <span class="p-float-label">
                <input type="text" id="id3" pInputText
                       [(ngModel)]="empleadoModificar.empleadoPuesto.puesto.nombrePuesto" disabled>
                <label for="id3">Empleado</label>
            </span>
        </div>
        <div class="field col-12 md:col-4" *ngIf="empleadoModificar.vacunaCovid19">
            <span class="p-float-label">
                <input type="text" id="id4" pInputText [(ngModel)]="empleadoModificar.vacunaCovid19.nombreVacuna"
                       disabled>
                <label for="id4">Vacuna</label>
            </span>
        </div>
        <div class="field col-12 md:col-4" *ngIf="estadoModificar == null">
            <span class="p-float-label">
                <p-dropdown id="id13" [autoDisplayFirst]="false" [options]="vacunas" (onChange)="vacunaCambioModificacion()"
                            [(ngModel)]="empleadoModificar.idVacuna" optionLabel="nombreVacuna"
                            optionValue="idVacuna" appendTo="body"></p-dropdown>
                <label for="id13">Vacunas</label>
            </span>
        </div>
        <div class="field col-12 md:col-4" *ngIf="empleadoModificar.idEstado == 0">
            <span class="p-float-label">
                <p-dropdown id="id11" [autoDisplayFirst]="false" [options]="dosis"
                            [(ngModel)]="dosisSeleccionada" optionLabel="dosis"
                            (onChange)="cambioDosisModfiicar(dosisSeleccionada)" [disabled]="janssen == true"
                            optionValue="idDosis" appendTo="body"></p-dropdown>
                <label for="id11">Dosis</label>
            </span>
        </div>
        <div class="field col-12 md:col-4" *ngIf="dosisSeleccionada">
        <span class="p-float-label">
            <input type="text" id="id14" pInputText [(ngModel)]="estadoEmpleado.estado" disabled>
            <label for="id14">Estado</label>
        </span>
        </div>
        <div class="field col-12 md:col-4" *ngIf="empleadoModificar.idEstado >= 1">
            <span class="p-float-label">
                <input type="text" id="id6" pInputText [(ngModel)]="empleadoModificar.dosis" disabled>
                <label for="id6">Dosis Puesta</label>
            </span>
        </div>
        <div class="field col-12 md:col-4" *ngIf="empleadoModificar.idEstado >= 1">
            <span class="p-float-label">
                <input type="text" id="id7" pInputText
                       [ngModel]="empleadoModificar.fechaInicioPuesta | date: 'dd-MM-yyyy'" disabled>
                <label for="id7">Primera dosis puesta</label>
            </span>
        </div>
        <div class="field col-12 md:col-4" *ngIf="empleadoModificar.idEstado >= 2">
            <span class="p-float-label">
                <input type="text" id="id8" pInputText [ngModel]="empleadoModificar.fechaFinPuesta | date: 'dd-MM-yyyy'"
                       disabled>
                <label for="id8">Segunda dosis puesta</label>
            </span>
        </div>
        <div class="field col-12 md:col-4" *ngIf="dosisSeleccionada >= 1">
            <span class="p-float-label">
                <p-calendar id="id9" showIcon="true" [(ngModel)]="empleadoModificar.fechaInicioPuesta" appendTo="body"
                            dateFormat="dd-mm-yy"></p-calendar>
                <label for="id9">Fecha primera dosis</label>
            </span>
        </div>
        <div class="field col-12 md:col-4" *ngIf="dosisSeleccionada >= 2">
            <span class="p-float-label">
                <p-calendar id="id12" showIcon="true" [(ngModel)]="empleadoModificar.fechaInicioPuesta" appendTo="body"
                            dateFormat="dd-mm-yy"></p-calendar>
                <label for="id12">Fecha segunda dosis</label>
            </span>
        </div>
        <div class="field col-12 md:col-4" *ngIf="empleadoModificar.idEstado == 1">
            <span class="p-float-label">
                <p-calendar id="id10" showIcon="true" [(ngModel)]="empleadoModificar.fechaFinPuesta" appendTo="body"
                            dateFormat="dd-mm-yy"></p-calendar>
                <label for="id10">Fecha segunda dosis</label>
            </span>
        </div>
    </div>
    <div style="margin-left: 35%">
        <button pButton pRipple type="button" label="Modificar" class="mr-2" icon="pi pi-check"
                (click)="modificar()" [disabled]="modificarDisabled()"></button>
        <button pButton pRipple type="button" label="Cancelar" class="p-button-secondary" icon="pi pi-times"
                (click)="cancelarModificar()"></button>
    </div>
</p-dialog>
