.margen{
  margin-left: 80px;
}

.sac-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-0 {
    background: #FFCDD2;
    color: #C63737;
  }

  &.status-1 {
    background: #B3E5FC;
    color: #23547B;
  }

  &.status-2 {
    background: #C8E6C9;
    color: #256029;
  }
}

input[type="text"]:disabled {
  background: #ccc;
  color: black;
  font-weight: 1000;
}

